{% include "django_control_components/controls/_open.html" %}
  <div class="dcc-input-group" x-data="{ show: false }">
    {% if widget_html %}{{ widget_html }}{% else %}<input id="{{ id }}" name="{{ name }}" class="dcc-input" x-bind:type="show ? 'text' : 'password'" type="password"{% if placeholder %} placeholder="{{ placeholder }}"{% endif %}{% if required %} required{% endif %}{% if disabled %} disabled{% endif %} autocomplete="{{ autocomplete|default:'current-password' }}" {{ attrs }} />{% endif %}
    <button type="button" class="dcc-input-group__button" x-on:click="show = !show" x-bind:aria-label="show ? 'Hide password' : 'Show password'"><span class="dcc-badge" x-text="show ? 'Hide' : 'Show'"></span></button>
  </div>
  {% include "django_control_components/controls/_close.html" %}
