{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="p-4 grid grid-cols-4 gap-5">

    <c-h1 title="Testing H1" />
    <c-h2 title="Testing H2" />
    <c-h3 title="Testing H3" />
    <c-h4 title="Testing H4" />


    <c-input label="Testing Input Label" type="email" placeholder="joh@email.com" />
    <c-textarea label="comment" placeholder="we'd love to hear from you" id="" name="" />
    <c-password-input placeholder="* * * * * * * *" />
    <c-search-input />
    <c-button title="Testing" icon="" url="" colour="green" />
    <c-select id="stuff" label="Choose a car" :options="cars" />
    <c-select-search id="stuff" label="Choose a car" :options="cars" />
    <c-select-multiple id="stuff" label="Choose a car" :options="cars" />
</div>
{% endblock content %}