<div class="relative overflow-x-auto shadow-md sm:rounded-lg" x-data="{
                                                                      search: '',
                                                                      items: [
                                                                      {% for option in tr %}
                                                                          {
                                                                          {% for key, value in option.items %}
                                                                              '{{ key }}': '{{ value }}'{% if not forloop.last %}, {% endif %}
                                                                          {% endfor %}
                                                                          }
                                                                          {% if not forloop.last %}, {% endif %}
                                                                      {% endfor %}
                                                                      ],
                                                                      columns: [
                                                                      {% for column in th %}
                                                                          '{{ column }}'{% if not forloop.last %}, {% endif %}
                                                                      {% endfor %}
                                                                      ],
                                                                      getValues(item) {
                                                                      return this.columns.map(column => item[column]);
                                                                      },
                                                                      filteredItems() {
                                                                      const searchTerm = this.search.toLowerCase();
                                                                      if (this.columns.length) {
                                                                      return this.items.filter(item => {
                                                                      return this.columns.some(column => {
                                                                      return String(item[column]).toLowerCase().includes(searchTerm);
                                                                      });
                                                                      });
                                                                      } else {
                                                                      return this.items.filter(item => {
                                                                      return Object.values(item).some(value =>
                                                                      String(value).toLowerCase().includes(searchTerm));
                                                                      });}
                                                                      }
                                                                      }" x-init="console.log(items)">
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
        {% if filters %}
            <div class="class=" inline-flex items-center text-primary-500 bg-white border border-primary-300
                 focus:outline-none hover:bg-primary-100 focus:ring-4 focus:ring-primary-100 font-medium rounded-lg text-sm
                 px-3 py-1.5 dark:bg-primary-800 dark:text-white dark:border-primary-600 dark:hover:bg-primary-700
                 dark:hover:border-primary-600 dark:focus:ring-primary-700"">

            <!-- Filter -->
                <c-filter id="table-filter" :filters="filters" />
            </div>
        {% endif %}
        {% if search %}
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-5 h-5 text-primary-500 dark:text-primary-400" aria-hidden="true" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input type="text" id="table-search" x-model="search"
                       class="block p-2 ps-10 text-sm text-primary-900 border border-primary-300 rounded-lg w-80 bg-primary-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-primary-700 dark:border-primary-600 dark:placeholder-primary-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                       placeholder="Search for items">
            </div>
        {% endif %}
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-primary-500 dark:text-primary-400">
        <thead class="text-xs text-primary-700 uppercase bg-primary-50 dark:bg-primary-700 dark:text-primary-400">
            <tr>
                <!-- <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox"
                            class="w-4 h-4 text-primary-600 bg-primary-100 border-primary-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-primary-800 dark:focus:ring-offset-primary-800 focus:ring-2 dark:bg-primary-700 dark:border-primary-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th> -->
                {% for heading in th %}
                    <th scope="col" class="px-6 py-3">
                        {{ heading }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <template x-for=" item in filteredItems" :key="item.id">
                <tr
                    class="bg-white border-b dark:bg-primary-800 dark:border-primary-700 hover:bg-primary-50 dark:hover:bg-primary-600">
                    <!-- <td class="w-4 p-4">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-1" type="checkbox"
                                class="w-4 h-4 text-primary-600 bg-primary-100 border-primary-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-primary-800 dark:focus:ring-offset-primary-800 focus:ring-2 dark:bg-primary-700 dark:border-primary-600">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td> -->
                    <template x-for="(value, index) in getValues(item)" :key="index">
                        <td class="px-6 py-4" x-text="value"></td>
                    </template>
                </tr>
            </template>
            <template x-if="filteredItems().length === 0">
                <tr
                    class="bg-white border-b dark:bg-primary-800 dark:border-primary-700 hover:bg-primary-50 dark:hover:bg-primary-600">
                    <td colspan="{{ th|length }}" class="px-6 py-4 text-center">No results found</td>
                </tr>
            </template>
        </tbody>
    </table>
</div>